[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "splitpopsurv"]
	path = splitpopsurv
	url = https://github.com/nobifukuda/splitpopsurv
